MODE="DEV"
PORT=7000

DB_USERNAME='username'
DB_PASSWORD='password'
DB_PORT=5432
DB_NAME='test'
DB_HOST='127.0.0.1'
DB_SCHEMA='chat'
DB_URL_ASYNC='postgresql+asyncpg://username:password@localhost/test'
DB_URL_SYNC='postgresql://username:password@localhost/test'
DB_URL_TEST='sqlite+aiosqlite:///:memory:'

SECRETS='1xww2211220o3983iie39kdm9u2j8jd8jd834j9d9j'
JWT_SECRETS='1xww2211220o3983iie39kdm9u2j8jd8jd834j9d9j'
JWT_ACCESS_TOKEN_EXPIRY=60
JWT_REFRESH_TOKEN_EXPIRY=90
JWT_ALGORITHM='HS256'
JWT_ISSUER="chat.example.com"
JWT_AUDIENCE="1234567890.chat.example.com"

GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''
GOOGLE_CONF_URL='https://accounts.google.com/.well-known/openid-configuration'

FACEBOOK_CLIENT_ID=your-facebook-client-id
FACEBOOK_CLIENT_SECRET=your-facebook-client-secret

GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-github-client-secret


TEST=''

MAIL_USERNAME=''
MAIL_PASSWORD=''
MAIL_PORT=465
MAIL_SERVER="smtp.gmail.com"

FRONTEND_URL='http://127.0.0.1:3000'

CELERY_BROKER_URL="redis://127.0.0.1:6379/0"
CELERY_BROKER_URL_TEST="redis://127.0.0.1:6379/0"

CELERY_RESULT_BACKEND='db+postgresql://username:password@localhost/test'
CELERY_RESULT_BACKEND_TEST= "db+sqlite:///:memory:"

REDIS_URL="redis://127.0.0.1:6379/0"

CLOUDINARY_API_KEY="somekey"
CLOUDINARY_API_SECRET="somesecret"
CLOUDINARY_API_NAME="somename"
